body {
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

hr {
    border-top: 3px dotted rgb(214, 40, 40);
    margin-left: 15%;
    margin-right: 15%;
}



/* heading-section */



div.jumbotron {
    background-image: url("../content/header1.jpg");
    background-size: cover;
    background-position: 60% 50%;
    padding: 8rem;
    color: white;
    background-color: rgba(0, 48, 73, 0.7);
    text-align: center;
  }

@media only screen and (max-width: 500px) {
div.jumbotron{
    
    padding: 2rem;
    }
}
  
div.jumbotron .container {
border: 6px solid white;
border-radius: 10px;
}
  
  
  
div.jumbotron div.header-box {
background: rgba(0,0,0,0.2)
}

/* resume-section */

#Resume-Section {
    padding: 2% 7% 3%;
}

#Resume-Section h2 {
    margin-left: 0;
    margin-bottom: 3%;
    
}


div.resume {
    background-color: rgba(252, 191, 73,0.4);
    border-radius: 10px;
    padding: 3% 3%;
    text-align: center;
}

div ul {
    text-align: left;
}

/* Technologies I Use */

#Technologies-Section {
    padding: 3% 7%;
    background-color: rgba(234, 226, 183, 0.6);
}

#Technologies-Section h2 {
    margin-left: 0;
    color: black;
}

div.tech-grid{
    margin-top: 3%;
    text-align: center;
    
}

.tech-grid img{
    margin: 5% 0;
    width: 128px;
    
}



/* contact-section */

#Contact-Section{
    padding: 3% 7%;
    /* background-color: rgb(92, 92, 92); */
    
}

#Contact-Section h2{
    margin: 0 0 3% 0%;
}

#Contact-Section .contact{
    padding-bottom: 3%;
}

/* Footer-Section */

#Footer p{
    background-color: rgba(214, 40, 40, 0.5);
    color: white;
    padding: 10px 0;
    margin-bottom: 0;
    text-align: center;
}